button{
	color: #0099CC; 
	background: transparent; 
	border: 2px solid #0099CC;
	border-radius: 6px; 
	border: none;
	color: white;
	padding: 8px 16px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.2s; /* Safari */
	transition-duration: 0.2s;
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
}

button{
	-color: white; 
	color: black; 
	border: 2px solid #008CBA;
}

button:hover {
	background-color: #008CBA;
	color: white;
}